@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 横画面専用レイアウト */
@media (orientation: portrait) {
  .portrait-warning {
    display: flex;
  }
  .main-content {
    display: none;
  }
}

@media (orientation: landscape) {
  .portrait-warning {
    display: none;
  }
  .main-content {
    display: flex;
  }
}
